html {
  --border-color: #ccc;
  --border-color-focus: #3898ec;
}

fieldset {
  margin-bottom: 1.5rem;
  padding: 0.6rem 1rem 1rem;
  border: 1px solid var(--border-color);
}
fieldset > legend:first-child {
  margin-bottom: 0.5rem;
  margin-left: -0.5rem;
  padding: 0 0.5rem;
}

.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
  align-items: center;
}
.d-none {
  display: none !important;
}

.small {
  font-size: 0.75rem;
  line-height: 1.15;
}

.event-editor aside {
  margin: 1rem 0 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px dashed var(--border-color);
  background: #e8e8e8;
}
.event-editor aside.danger {
  border: 1px dashed #ff0000;
  background: #ffecec;
}

.event-editor .event-editor-form .form-invalid-notice {
  display: none;
}
.event-editor .event-editor-form:invalid .form-invalid-notice,
.event-editor .event-editor-form:invalid .w-input:not(:valid) ~ .form-invalid-notice {
  display: block;
}

.event-editor .form-row {
  margin-bottom: 1.5rem;
}

.event-editor .w-label {
  font-weight: 600;
}

.event-editor .w-input:not(:valid) {
  border-color: #ff0000;
  box-shadow: inset 0 0 0 2px #ff0000;
}

.event-editor .w-checkbox {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  cursor: pointer;
}

.event-editor .w-label.required::after {
  content: "*";
  display: inline-block;
  color: #f00;
  margin-left: 3px;
}

.event-editor .w-label + .info {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  color: #888;
}

.event-editor .w-button.w-button-secondary {
  background-color: #888;
}
.event-editor .w-button.w-button-danger {
  background-color: #d04343;
}

.event-editor .class-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  align-items: start;
}
.event-editor .class-grid > .form-row-inline {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.event-editor .class-grid .w-checkbox {
  margin-right: 5px;
}
.event-editor .class-grid .info {
  display: block;
  flex-basis: 100%;
  padding-left: calc(1rem + 5px);
}

.event-editor .link-grid,
.event-editor .tags-grid {
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: 10px 200px auto;
  grid-gap: 1rem 0.5rem;
  align-items: center;
}
.event-editor .linkUrl:placeholder-shown ~ *,
.event-editor .tagUrl:placeholder-shown ~ * {
  display: none;
}

.event-editor .link-grid .w-input,
.event-editor .tags-grid .w-input {
  margin: 0;
}

.event-editor .linked-event-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: auto;
  margin-right: 0;
}
.event-editor .linked-event-wrapper input {
  flex-grow: 1;
  width: auto;
}
.event-editor .linked-event-wrapper select {
  flex-basis: 160px;
  margin: 0 0 10px -2px;
  padding: 0.5rem 0.5rem;
  background-color: white;
}

.event-editor .icon-preview-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.icon-preview-wrapper > * {
  flex-grow: 1;
}
.event-editor .icon-preview-wrapper input {
  margin-bottom: 0;
}
.event-editor .icon-preview-wrapper .icon-preview {
  width: 100%;
  max-width: 64px;
  max-height: 64px;
  margin-left: 10px;
  background-color: white;
}

.event-editor .json-output-wrapper {
  position: relative;
  margin: 1rem 0 1rem;
}
.event-editor .json-output-wrapper .json-output {
  width: 100%;
  min-height: 300px;
  resize: vertical;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #222;
  font-family: monospace;
  font-size: 0.75rem;
  white-space: pre-wrap;
}
.event-editor .json-output-wrapper .json-output:invalid {
  border-color: var(--border-color);
  box-shadow: none;
}
.event-editor .json-output-wrapper .json-output:focus {
  border-color: var(--border-color-focus);
}
.event-editor .json-output-wrapper .import-export-actions {
  position: absolute;
  top: 0;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.event-editor .json-output-wrapper .import-export-actions > button {
  margin-left: 10px;
}

.event-editor .json-output-wrapper .json-output:placeholder-shown + .import-export-actions {
  display: none;
}
.event-editor .json-output-wrapper .json-output:invalid + .import-export-actions #import-json {
  display: none;
}

.event-editor .form-actions,
.event-editor .import-field-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.event-editor .form-actions > *,
.event-editor .import-field-wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.event-editor .import-field-wrapper select {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
}

.event-editor select option:not([value]),
.event-editor .icon-preview:not([src]),
.event-editor .icon-preview[src=""] {
  display: none;
}

/* Mobile Only */
@media screen and (max-width: 768px) {
  .event-editor .class-grid {
    grid-template-columns: repeat(2, auto);
  }
  .event-editor .link-grid,
  .event-editor .tags-grid {
    grid-template-columns: 10px 90px auto;
  }
}

/* ===== DATEPICKER STYLES ===== */
[data-component="datepicker"] {
  text-align: center;
}

[data-component="datepicker"]:hover + .datepicker-wrapper,
[data-component="datepicker"]:focus + .datepicker-wrapper,
.datepicker-wrapper:hover {
  display: flex;
}

.datepicker-wrapper {
  display: none;
  margin-top: -10px;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-top-color: white;
  background-color: #f3f3f3;
}

.datepicker-wrapper .datepicker-container {
  flex-basis: 100%;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  z-index: 1;
}

.datepicker-wrapper .datepicker-container ul + ul {
  margin-top: 10px;
}

.datepicker-wrapper .datepicker-container .datepicker-panel > ul > li.disabled,
.datepicker-wrapper .datepicker-container .datepicker-panel > ul > li {
  min-width: 36px;
  min-height: 36px;
  background-color: #f3f3f3;
}

.datepicker-wrapper .datepicker-container ul[data-view="week"],
.datepicker-wrapper .datepicker-container ul[data-view] > li.muted,
.datepicker-wrapper .datepicker-container ul[data-view] > li.disabled {
  display: none;
}

.datepicker-container * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.datepicker-wrapper .datepicker-panel > ul > li.highlighted {
  background: none;
  color: inherit;
  text-decoration: underline;
}

.datepicker-wrapper .datepicker-panel > ul > li.picked {
  color: #39f;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 8px;
}
