/* Scrollbar */
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 5;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(196, 196, 196);
}
html ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

/* Header */
body {
  --fixed-header-height: 80px;
  --fixed-header-margin: 1rem;

  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  padding: 0;
}
body.fixed-header {
  padding-top: calc(var(--fixed-header-height) + var(--fixed-header-margin));
}
.navbar {
  position: static;
  width: 100%;
  margin-bottom: var(--fixed-header-margin);
}
body.fixed-header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--fixed-header-height);
  margin-bottom: 0;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  body.fixed-header {
    --fixed-header-height: 40px;
  }
}

/* Utility */
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
  align-items: center;
}
.d-none {
  display: none !important;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.inline input:radio,
.inline input:checkbox {
  margin: 0 !important;
}

.box a {
  word-break: break-word;
}

#event-template,
.button[href="#"] {
  display: none;
}

.filter-group label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-group input {
  margin: 0;
  margin-right: 0.25rem;
}

#timeline.hide-descriptions .event-description,
#timeline.hide-descriptions .event-tags,
#timeline.hide-descriptions .linked-event,
#timeline.hide-descriptions .edit-event {
  display: none !important;
}

.event:hover .box,
.event:hover .connector,
.event:hover .connector-dot {
  border-color: #666;
}

.event:hover .connector-dot {
  zoom: 1.2;
}

.featured-connector,
.featured-connector-dot,
.featured-box {
  display: none;
}

.featured-event .featured-connector,
.featured-event .featured-connector-dot,
.featured-event .featured-box {
  display: block;
}

.event * {
  transition: border-color 0.15s ease, zoom 0.15s ease;
}

.event .box,
.event .featured-box {
  transition: border-color 0.15s ease, background-color 2s linear;
}

.event.highlight .box,
.event.highlight .featured-box {
  background-color: #ffff77;
  transition: none;
}

.event.event-hidden {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.event.event-hidden > * {
  display: none !important;
}

.event .event-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit-event {
  width: 18px;
  height: 18px;
  margin: -1px 0 0;
  font-size: 0;
  text-decoration: none;
  background: transparent url("/assets/img/icons/edit.svg") no-repeat center center / 12px;
  opacity: 0.4;
  visibility: hidden;
}
.event:hover .event-date .edit-event {
  visibility: visible;
  margin-left: 0.5rem;
}

.timeline.hide-descriptions .connector {
  top: 68px;
}

#sidebar > a:nth-child(1) {
  top: 0px;
}

#sidebar > a:nth-child(2) {
  top: 40px;
}

#sidebar > a:nth-child(3) {
  top: 80px;
}

#sidebar > a:nth-child(4) {
  top: 120px;
}

#sidebar > a:nth-child(5) {
  top: 160px;
}

#sidebar > a:nth-child(6) {
  top: 200px;
}

#sidebar > a:nth-child(7) {
  top: 240px;
}

#sidebar > a:nth-child(8) {
  top: 280px;
}

#sidebar > a:nth-child(9) {
  top: 320px;
}

#sidebar > a:nth-child(10) {
  top: 360px;
}

#sidebar > a:nth-child(11) {
  top: 400px;
}

#sidebar > a:nth-child(12) {
  top: 440px;
}

#sidebar > a:nth-child(13) {
  top: 480px;
}

#sidebar > a:nth-child(14) {
  top: 520px;
}

#sidebar > a:nth-child(15) {
  top: 560px;
}

#sidebar > a:nth-child(16) {
  top: 600px;
}

#sidebar > a:nth-child(17) {
  top: 640px;
}

#sidebar > a:nth-child(18) {
  top: 680px;
}

#sidebar > a:nth-child(19) {
  top: 720px;
}

#sidebar > a:nth-child(20) {
  top: 760px;
}

#sidebar > a.current-year {
  border: 1px solid black;
}

#sidebar > a.current-year:before {
  content: "";
  position: absolute;
  right: 105%;
  top: 50%;
  width: 0;
  height: 0;
  border: 3px solid #333;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

.rainbow-text {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent;

  --r: #ff0000;
  --o: #ffa500;
  --y: #ffdc00;
  --g: #008000;
  --b: #0000ff;
  --p: #800080;

  background: linear-gradient(
      90deg,
      var(--r),
      var(--o),
      var(--y),
      var(--g),
      var(--b),
      var(--p),
      var(--r),
      var(--o),
      var(--y),
      var(--g),
      var(--b)
    )
    left center / 100%;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

/* Desktop Only, extra margins */
@media screen and (min-width: 768px) {
  #timeline:not(.hide-descriptions) .events-list .event:nth-child(even) {
    margin-top: 90px;
  }

  #timeline:not(.hide-descriptions) .events-list .event.featured-event:nth-child(even) {
    margin-top: 160px;
  }

  .events-list {
    min-height: 400px;
  }

  .events-list .event.event-small:not(.event-hidden):nth-child(odd) + .event.event-hidden,
  .events-list .event.event-hidden:nth-child(even) + .event:not(.event-hidden) {
    margin-top: 40px !important;
  }

  .timeline-year {
    margin-bottom: 160px;
  }

  .events-container .timeline-year + .event.featured-event,
  .events-container .timeline-year + .event.event-large {
    margin-top: 0px;
  }

  .event.featured-event + .featured-event {
    margin-top: -40px;
  }

  .event.event-large {
    margin-bottom: 30px;
  }

  .event.event-small {
    margin-bottom: -20px;
  }
}
