name: Validate Timeline JSON

on:
  push:
  pull_request:
    branches:
      - master
    paths:
      - "**.json"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v2
        with:
          pattern: "\\.json$"
